---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title="Burak Mike">
  <main>
    <h1>Hi I am <span class="text-gradient">Burak Mike</span></h1>
    <p class="instructions">
      I'am a developer, UI designer and student at Akdeniz University<br /> You can
      check out my personal projects on <a href="https://github.com/MahykBurak"
        ><strong>Github</strong>
      </a>
      <br />
      <strong>
        <a href="mailto:burakmike@outlook.com"><code>Say Hi 👋</code></a>
      </strong>
    </p>

    <ul role="list" class="flex flex-col gap-1">
      <Card
        href="https://mike4.dev/"
        title="Portfolio Site"
        body="My portfolio site written by NuxtJs(Vue), Tailwind and Firebase"
      />
      <Card
        href="https://url.mike4.dev"
        title="UrlCut"
        body="Simple url shortener written by NextJs, Tailwind, Prisma, Trpc and Supabase"
      />
      <Card
        href="https://vote.mike4.dev"
        title="Alakazam"
        body="Simple poll createor written by NextJs, Tailwind, Prisma, Trpc and Planetscale"
      />
    </ul>
  </main>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  h1 {
    margin: 2rem 0;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }

  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    background: #4f39fa;
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--color-bg);
  }

  .instructions code {
    font-size: 0.875em;
    border: 0.1em solid var(--color-border);
    border-radius: 4px;
    padding: 0.15em 0.25em;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
