---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
const BIRTHDAY = '01-11-2000'
function calculateAge() {
  const birthdateArray = BIRTHDAY.split('-')
  const birthDay = parseInt(birthdateArray[0])
  const birthMonth = parseInt(birthdateArray[1])
  const birthYear = parseInt(birthdateArray[2])

  const today = new Date()
  const currentYear = today.getFullYear()
  const currentMonth = today.getMonth() + 1
  const currentDay = today.getDate()

  let age = currentYear - birthYear

  if (
    currentMonth < birthMonth ||
    (currentMonth == birthMonth && currentDay < birthDay)
  ) {
    age--
  }

  return age
}
---

<Layout title="Burak Mike">
  <main class="m-auto p-4 gap-4 max-w-2xl flex flex-col md:grid grid-cols-2">
    <h1 class="my-8 dark:text-white col-span-2">
      Hi I am <span class="text-gradient whitespace-nowrap">Burak Mike</span>
    </h1>

    <p class="instructions">
      I'm a {calculateAge()} year old developer, UI designer and Akdeniz University
      student. I'm currently focused on personal projects and learning React.
    </p>

    <a
      href="https://github.com/MahykBurak"
      class="computer text-white flex items-stretch justify-end p-1 relative"
    >
      <div class="text-end">
        You can find my personal projects on my Github profile
      </div>
      <div class="absolute bottom-2 right-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244"
          ></path>
        </svg>
      </div>
      <div class="container-shadow"></div>
    </a>
    <ul role="list" class="gap-4 grid grid-cols-2 col-span-2">
      <Card
        href="https://mike4.dev/"
        title="Portfolio Site"
        body="My portfolio site written by NuxtJs(Vue), Tailwind and Firebase"
      />
      <Card
        href="https://url.mike4.dev"
        title="UrlCut"
        body="Simple url shortener written by NextJs, Tailwind, Prisma, Trpc and Supabase"
      />
      <Card
        href="https://vote.mike4.dev"
        title="Alakazam"
        body="Simple poll createor written by NextJs, Tailwind, Prisma, Trpc and Planetscale"
      />
      <a
        href="mailto:hi@mike4.dev"
        class="flex justify-end medidate-container w-full text-end"
      >
        <div class="container-shadow"></div>
        <div class="text-white relative items-baseline w-full px-4 text-2xl">
          <strong>Say Hi 👋</strong>
          <div class="absolute bottom-2 right-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
              ></path>
            </svg>
          </div>
        </div>
      </a>
    </ul>
  </main>
</Layout>

<style>
  .main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
    z-index: 2;
  }
  .medidate-container {
    background-image: url('memoji_medidate.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 30%;
    animation: moveBackground 5s ease-in-out;
    border: 1px solid var(--bg-border);
    border-radius: 0.7rem 0;
  }

  .computer {
    background-image: url('memoji_computer.png');
    object-fit: contain;
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid var(--bg-border);
    border-radius: 0.7rem 0;
    padding: 0.3rem;
  }
  .computer:hover {
    border: 1px solid var(--bg-border-hover);
    transition: all 0.3s ease-in-out;
  }
  .medidate-container:hover {
    border: 1px solid var(--bg-border-hover);
    transition: all 0.3s ease-in-out;
  }
  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    font-size: var(--font-size-xl);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  .imageMM {
    animation: pulse 8s ease-in-out infinite;
  }
  @keyframespulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }
  @keyframes moveBackground {
    from {
      background-position-y: 0%;
    }
    to {
      background-position-y: 80%;
    }
  }
  @keyframes zipzip {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.5rem);
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(10deg);
    }
  }
  .instructions {
    line-height: 1.6;

    padding: 1rem;
    border-radius: 0.4rem 0px;
    color: var(--color-bg);
    border: 1px solid var(--color-border);
  }

  .instructions code shadow-white shadow-lg {
    font-size: 0.875em;
    border: 0.1em solid var(--color-border);
    border-radius: 4px;
    padding: 0.15em 0.25em;
  }
</style>
