---
export interface Props {
  title: string
}
const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css?family=Droid+Serif:400"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Droid+Serif:400italic"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="https://use.typekit.net/loc6woz.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <style>
      :root {
        --astro-gradient: linear-gradient(0deg, #ffaa99, #d9e2e6);
        --surface: #1b1d1c;
        --borders: #48535b;
        --shapes-1: #48535b;
        --shapes-2: #ffce54;
        --shapes-3: #2e3131;
        --shapes-4: #6f9fc9;
        --shapes-5: #2e3131;
        --shapes-6: #006e32;
        --shapes-7: #ed7c57;
        --shapes-7-highlight: #9d5a5a;
        --text: #ffffff;
        --text-1: #d9e2e6;
        --text-1-highlight: #ffaa99;
        --text-3: #ffb6a7;
      }

      html {
        background-color: var(--surface);
        font-family: 'Acumin Pro' Serif, sans-serif;
        color: var(--text);
        user-select: none;
      }
    </style>
  </body>
</html>
