---
export interface Props {
  title: string
}
const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css?family=Droid+Serif:400"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Droid+Serif:400italic"
      rel="stylesheet"
      type="text/css"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script defer src="/va/script.js"></script>
  </head>
  <body>
    <slot />
    <style>
      :root {
        --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
        --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
        --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
        --color-text: hsl(12, 5%, 4%);
        --color-bg: hsl(10, 21%, 95%);
        --color-border: hsl(17, 24%, 90%);
        --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
        --card-gradient: linear-gradient(0deg, #a40606, #d98324);
        --bg: rgb(17 24 39);
        --bg-border: rgba(34, 46, 68, 0.8);
        --bg-border-hover: rgba(47, 59, 83, 1);
        --surface: #00334d;
        --surface-hover: #014760;
        --borders: #015749;
        --shapes: #0f6471;
        --text: #016284;
        --text-hover: #007593;
        --text-active: #0c8da3;
      }

      html {
        background-color: var(--surface);
      }

      body {
        margin: 0;
      }

      :global(h1) {
        font-size: var(--font-size-xl);
      }

      :global(h2) {
        font-size: var(--font-size-lg);
      }

      :global(code) {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
      . {
        color: #fff;
        font-family: Droid Serif, sans-serif;
        text-align: center;
        background-image: url(/images/typesource/goal.jpg);
        background-color: #d0d8db;
        background-size: cover;
        padding-top: 16em;
        padding-bottom: 22em;
      }

      .puopu-r1 {
        font-size: 6.5em;
        font-weight: 400;
        line-height: 1.1em;
        text-transform: uppercase;
      }

      .puopu-small {
        height: 2em;
        width: 2em;
        font-size: 0.25em;
        font-weight: 300;
        font-style: italic;
        line-height: 1.9em;
        text-transform: lowercase;
        display: inline-block;
        vertical-align: middle;
        margin: -0.44em 0.1em 0;
        border: 0.1em solid #fff;
      }
    </style>
  </body>
</html>
